<app-breadcrumb [routs]="[{name:'test'},{name:'Profile'}]"></app-breadcrumb>
<div class="container mx-auto p-4 bg-base text-primary ">

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <label for="name">Nombre</label>
      <input class="bg-primary rounded-md text-secondary" id="name" formControlName="name" type="text" />

      <!-- Mensaje si el campo está vacío -->
      @if(form.get('name')?.hasError('required') && form.get('name')?.touched){

      nombre es requerido
      }
      @if(
      form.get('name')?.hasError('maxlength') && form.get('name')?.touched
      ){

      nombre no debe tener más de 50 caracteres
      }

      @if (form.get('name')?.hasError('pattern') && form.get('name')?.touched) {

      nombre no debe estar vacío
      }

    </div>
    <button class="p-2 rounded text-base bg-secondary hover:filter hover:brightness-75 duration-75 ease-in"
      type="submit" [disabled]="form.invalid">Guardar</button>
  </form>
</div>
<div class="   text-primary rounded-lg mt-2 ">



  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-primary border-base ">
      <thead class="text-xs text-primary uppercase bg-base ">
        <tr>
          <th scope="col" class="px-6 py-3">
            Nombre
          </th>

          <th scope="col" class="px-6 py-3">
            Editar
          </th>
        </tr>
      </thead>
      <tbody>
        @for (item of perfiles; track $index) {
        <tr (click)="cambio_perfil(item.id_profile)" [ngClass]="{'bg-secondary!': item.id_profile ==perfil_selected}"
          class="bg-base  cursor-pointer  border-secondary hover:bg-base/60 ">
          <th scope="row" class="px-6 py-4 font-medium text-primary whitespace-nowrap ">
            {{item.name}}
          </th>
          <td class="px-6 py-4">
            <app-button></app-button>
          </td>

        </tr>
        }


      </tbody>
    </table>
  </div>
  <div class="right-0 w-full bg-base text-right pr-3 p-2 rounded-lg mt-3">

    <app-button label="Asignar nueva ruta" sty="bg-success"  (buttonClicked)="Open()"></app-button>
  </div>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg pt-1">
    <table class="w-full text-sm text-left rtl:text-right text-primary border-base ">
      <thead class="text-xs text-primary uppercase bg-base ">
        <tr>
          <th scope="col" class="px-6 py-3">
            ruta
          </th>


          <th scope="col" class="px-6 py-3">
            eliminar
          </th>
        </tr>
      </thead>
      <tbody>
        @for (item of profile_Routs; track $index) {
        <tr class="bg-base   border-secondary  ">
          <th scope="row" class="px-6 py-4 font-medium text-primary whitespace-nowrap ">
            {{item.ruta}}
          </th>

          <td class="px-6 py-4">
            <app-button label="eliminar" (buttonClicked)="deleteRoute(item.id_u_r)" sty="bg-delete"></app-button>

          </td>

        </tr>
        }@if (!profile_Routs.length) {
        <tr class="bg-base">
          <th>
            <h2 class="text-center ">no hay rutas</h2>

          </th>
          <th></th>
          <th></th>
        </tr>
        }


      </tbody>
    </table>
  </div>

  <app-dimamicform [(close_open)]="open" [initialData]="datos" [formGroup]="myForm" [fields]="formFields" (formSubmit)="onSubmit($event)"
  (formChange)="onFormChange($event)">
  </app-dimamicform>


</div>
